<p>
  test works! {{ name }}
</p>
<h2>{{ 2+2 }}</h2>
<h2>{{ "Welcome " + text }}</h2>
<h2>{{ text.length }}</h2>
<h1>{{ getUser() }}</h1>
<h1>{{ siteUrl }}</h1>

<!-- Property Binding -->
<input [id]="myId" type="text" value="test">
<input bind-disabled="isDisabled" id="{{myId}}" type="text" value="test">

<br>
<!-- Event Binding -->
<button (click)="onClick()">點擊我</button>
{{ greeting }}
<br>
<button (click)="greeting='我是美女'">點擊我會出現美女</button>

<br>
<!-- Template Reference Variables -->
<input #myInput type="text">
<button (click)="logMsg(myInput.value)">點擊我會有console.log</button>
